.mainslider {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mainslider > .background {
  position: relative;
  height: 100%;
  width: 100%;
}

.mainslider > .background > .background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mainslider > .on {
  z-index: 10;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.21, 0.61, 0.07, 0.94);
}

.mainslider > .off {
  z-index: 9;
  transition: all 0.8s;
  transition-timing-function: cubic-bezier(0.21, 0.61, 0.07, 0.94);
  cursor: default;
}

.mainslider > .title {
  position: absolute;
  top: 35%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.title > .we_are_title {
  font-size: 1.1em;
}

.title > h1 > .ez_dump_truck_title {
  font-size: 1.2em !important;
}

.mainslider > .subtitle {
  position: absolute;
  top: 51%;
  color: #fff;
  font-size: 0.7em;
  font-weight: bold;
}

.mainslider > .paragraph {
  position: absolute;
  width: 448px;
  top: 61%;
  display: block;
  white-space: normal;
}

.paragraph > p {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 0.9em;
  padding: 1em;
}

.mainslider > .button {
  position: absolute;
  top: 75%;
  border-radius: 8px;
  color: #000;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.device {
  position: relative;
}

.mainslider > .desktop {
  position: absolute;
  width: 50em;
  top: 15%;
  border-radius: 8px;
  color: #000;
  font-size: 1em;
  text-align: center;
}

.desktop > .device > .view {
  position: absolute;
  top: 4em;
  left: 8.5em;
  width: 66%;
  height: 67.5%;
}

.mainslider > .tablet {
  position: absolute;
  width: 25em;
  top: 24%;
  border-radius: 8px;
  color: #000;
  font-size: 1em;
  text-align: center;
}

.tablet > .device > .view {
  position: absolute;
  top: 4.5em;
  left: 4.1em;
  width: 67%;
}

.mainslider > .mobile {
  position: absolute;
  width: 12em;
  top: 39%;
  border-radius: 8px;
  color: #000;
  font-size: 1em;
  text-align: center;
}

.mobile > .view {
  position: absolute;
  top: 0em;
  left: 0.2em;
  width: 95%;
  height: 24.3em;
  border-radius: 28px;
  overflow: hidden;
}

.mobile > .device {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 22.5em;
  border-radius: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 1;
}

@media (max-width: 1199px) {
  .mainslider > .title {
    position: absolute;
    top: 7em;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title > h1 > .ez_dump_truck_title {
    font-size: 1em !important;
  }

  .mainslider > .subtitle {
    top: 40em;
    font-size: 0.6em;
  }

  .mainslider > .paragraph {
    width: 400px;
    top: 28em;
  }

  .mainslider > .button {
    top: 34em;
  }

  .mainslider > .desktop {
    width: 45em;
  }
  
  .desktop > .device > .view {
    width: 66%;
    height: 67.5%;
    top: 3.7em;
    left: 7.7em;
  }
  
  .mainslider > .tablet {
    width: 22em;
  }
  
  .tablet > .device > .view {
    width: 67%;
    top: 3.9em;
    left: 3.7em;
  }
  
  .mainslider > .mobile {
    width: 12em;
  }
  
  .mobile > .view {
    width: 84%;
    height: 21.5em;
  }
  .mobile > .device {
    width: 88%;
    height: 22.5em;
  }
}

@media (max-width: 767px) {
  .mainslider > .title {
    position: absolute;
    top: 2.5em;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title > h1 > .ez_dump_truck_title {
    font-size: 1em !important;
  }

  .mainslider > .subtitle {
    top: 23em;
    font-size: 0.55em;
  }

  .mainslider > .paragraph {
    width: 340px;
    top: 16em;
  }

  .mainslider > .button {
    top: 23em;
  }

  .mainslider > .desktop {
    width: 30em;
    top: 50%;
  }
  
  .desktop > .device > .view {
    top: 2.5em;
    left: 5.2em;
  }
  
  .mainslider > .tablet {
    width: 18em;
    top: 57%;
  }
  
  .tablet > .device > .view {
    position: absolute;
    top: 3.1em;
    left: 3em;
    width: 67%;
  }
  
  .mainslider > .mobile {
    width: 12em;
    top: 60%;
  }
}

@media (max-width: 281px) {
  .mainslider > .title {
    font-size: 1.6rem;
  }

  .title > h1 > .ez_dump_truck_title {
    font-size: .8em !important;
  }

  .mainslider > .paragraph {
    width: 250px;
    top: 34%;
  }

  .mainslider > .button {
    top: 52%;
  }

  .mainslider > .desktop {
    display: none;
  }
  
  .mainslider > .tablet {
    display: none;
  }
  
  
  .mainslider > .mobile {
    display: none;
  }
}
