html {
  scroll-behavior: smooth;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pointed-background {
  position: absolute;
  width: 22em;
  height: 35em;
  top: -3em;
  left: -2em;
  object-fit: cover;
}

.before-after-image {
  object-fit: contain;
  width: 25em;
}

.loader-wrapper {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  transition: all 1s;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader-spin {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin: 1em auto;
  border-left: 0.6em solid #fec807;
  border-right: 0.6em solid #fec807;
  border-bottom: 0.6em solid transparent;
  border-top: 0.6em solid transparent;
  animation: spin-it 1.5s infinite linear;
}

@keyframes spin-it {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intercom-lightweight-app {
  display: none !important;
}
.intercom-launcher {
  display: none !important;
}
.intercom-button {
  position: fixed;
  width: 3.5em;
  height: 3.5em;
  bottom: 26px;
  right: 26px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  overflow: hidden;
  z-index: 5000;
  outline: none;
  padding: 0;
}
.intercom-button:hover {
  border: none;
  outline: none;
  cursor: pointer;
}
.intercom-button > img {
  width: 110%;
  height: 110%;
  object-fit: contain;
  position: absolute;
  top: -5%;
  left: -5%;
}

.video-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.9);
  transition: all 0.5s;
}
.video-background.open {
  display: block;
}

.video-background-iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.video-close-button {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 1em;
  right: 1em;
  color: "white";
  cursor: pointer;
}
.video-close-button::before {
  content: "\f00d";
  font: 5px/1.2em FontAwesome;
  width: 100%;
  height: 100%;
  font-size: 3em;
}

.has-error {
  border: 1px solid red !important;
}

.is-disabled {
  background-color: #343536 !important;
  opacity: .8;
  cursor: default !important;
}

.is-disabled::before {
  content: "";
}